.container{
    margin-left: 53px;
    margin-top: 25px;
}

.container:last-child{
    margin-top: 70px;
}

.btn-title{
    font-family: HelveticaNeue;
    font-size: 21px;
    line-height: 23px;
    color: #373A3C;
}